

<h3>Sample Python Code</h3>
<pre [attr.data-line]="dataLine">
    <code [ngClass]="codeClass" [innerHTML]="highlightedCode"></code>
</pre>

<button (click)="changeDataLine(1)">Set Line 2</button>
<!-- <button (click)="changeClass('language-python')">Change Class to Python</button>
<button (click)="changeClass('language-js')">Change Class to Java</button>
<button (click)="changeClass('language-cpp')">Change Class to C</button>

<button (click)="changeText('print(Hello, World!)')">Change Text</button> -->
