.code-container {
    position: relative; /* Enables positioning for children */
    display: inline-block; /* Shrinks to fit content */
    
}

.code-block {
    border: 2px solid rgba(128, 128, 128, 0.7);
    border-radius: 20px;
    padding: 1rem; /* Adjust padding if needed */
}

.copy-button {
    position: absolute;
    top: 10px; /* Adjust distance from the top */
    right: 10px; /* Adjust distance from the right */
    box-shadow: none;
    background-color: inherit;
}
