

.steps {
  padding: 1rem;

  ul {
    list-style: none;
    padding-left: 2em;
    margin: 0;

    li {
      margin-bottom: 10px;
    }
  }

  h5 {
    font-weight: bold;
    margin-top: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -3rem;
  max-width: 90%;

  @media (max-width: 1500px) {
    align-items: center;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
  }

  ul {
    list-style: none;
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
      font-size: 1rem;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    thead {
      // background-color: #007bff;
      // color: #fff;

      tr {
        th {
          text-align: left;
          padding: 0.75rem;
          font-weight: bold;
        }
      }
    }

    tbody {
      tr {

        td {
          padding: 0.75rem;
          // color: #555;
          font-size: 0.95rem;
        }
      }
    }
  }
}

/* Flex container for tables and extra content */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: 2rem 0;

  .table-container {
    flex: 2;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .explanation-container {
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;

    h5 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      // color: #555;
    }
  }

  @media (max-width: 1500px) {
    flex-direction: column;

    .table-container,
    .explanation-container {
      width: 100%;
    }
  }
}

/* Typography styling */
.left-aligned {
  text-align: left;
  margin-left: 1rem;
}

/* Responsive adjustments */
@media (max-width: 950px) {
  
  .container {
    padding: 1rem;
    margin: 1rem;

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }

    p,
    li {
      font-size: 0.9rem;
    }

    table {
      thead tr th,
      tbody tr td {
        font-size: 0.8rem;
      }
    }
  }

  .flex-container {
    gap: 1rem;
  }
}
