<div class="chart-container">
  <canvas id="MyChart">{{ chart }}</canvas>
  <div class="button-container">
    <button
      mat-mini-fab
      style="border-radius: 10px"
      color="primary"
      (click)="startSorting()"
      aria-label="Start sorting button"
      [disabled]="isSorting" 

    >
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button
      mat-mini-fab
      style="border-radius: 10px"
      color="accent"
      (click)="shuffleArray()"
      aria-label="Shuffle button"
      [disabled]="isSorting" 
    >
      <mat-icon>replay</mat-icon>
    </button>

    <mat-slider
      min="0"
      max="500"
      step="50"
      discrete
      [displayWith]="formatLabel"
      aria-label="Speed slider"
    >
      <input
        matSliderThumb
        [(ngModel)]="animationScrollValue"
        (ngModelChange)="updateInvertedSpeed($event)"
        aria-label="Speed slider thumb"
        />
    </mat-slider>


    

    <app-audio-settings-bs  class="audio-settings"></app-audio-settings-bs>
  </div>
</div>

