<div class="app-container">
    <!-- Angular Material Toolbar -->
    <mat-toolbar color="primary">
      <span>Welcome to Algonimation</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-raised-button (click)="toggleTheme()">Toggle Theme</button>
    </mat-toolbar>



    <!-- Angular Material Menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span>Visualize Code</span>
      </button>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
    </mat-menu>



  </div>



