


.flex-spacer{
    flex: 1 ;
}

.navbar-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


  button{
    border-radius: 50px;
  }



  .icon {
    display: flex;
    align-items: center;
  }
  
  .icon svg {
    vertical-align: bottom;
  }