<div class="app-container">
    

    <!-- Angular Material Card for Testing Theme -->
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Test Angular Material Theme</mat-card-title>
          <mat-card-subtitle>Algonimation Demo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            This is a sample application to test the Angular Material pre-built
            theme.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Primary Action</button>
          <button mat-raised-button color="accent">Accent Action</button>
        </mat-card-actions>
      </mat-card>

      <!-- Angular Material Form Field -->
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="Name" />
      </mat-form-field>

      <button mat-raised-button color="warn">Warning Button</button>
    </div>
  </div>

  
  





