<div class="darkmode-toggle-container">
  <app-darkmode-toggle></app-darkmode-toggle>
</div>

<div class="footer">
  <div class="footer-container" color="primary">
    <div class="footer-logo">
      <h3>Algonimation</h3>
      <p>Empowering developers with code visualization.</p>
      <div class="footer-contact">
        <p>
          Feel free to
          <a
            mat-button
            href="mailto:mohamed.elmoag@gmail.com?subject=Contact&body=Hello Mohamed,"
            class="btn"
          >
            <i class="fa-solid fa-envelope"></i>
            Send Email
          </a>
          or visite my
          <a
            mat-button
            href="https://mohamed-elmourabit.netlify.app"
            target="_blank"
            class="btn"
          >
            <i class="fa-solid fa-id-card"></i> Portfolio</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Algonimation. All rights reserved.</p>
  </div>
</div>
