.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 100px;
  height: 100%;
}

app-darkmode-toggle {
  margin-left: 1rem; // Añade un margen si deseas separarlo un poco del borde inferior
  position:absolute;
  bottom: 2rem;
}


// .sidenav .mat-toolbar {
//   background: inherit;
// }

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; // Align items to the top of the container
  gap: 2rem; // Space between the two divs
  padding: 1rem;

  .code-block-container {
    width: 45%; // Adjust as needed
  }

  .side-content {
    width: 45%; // Adjust as needed
  }

  // Adjust layout for smaller screens
  @media (max-width: 768px) {
    flex-direction: column; // Stack vertically on small screens
    .code-block-container,
    .side-content {
      width: 100%;
    }
  }
}
