.sidenav-container {
  flex: 1 ;
  height: 100%;
}

.sidenav {
  width: 100px;
}

app-darkmode-toggle {
  margin-left: 1rem; // Añade un margen si deseas separarlo un poco del borde inferior
  position: absolute;
  bottom: 2rem;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

