.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 100px;
  height: 100%;
}

app-darkmode-toggle {
  margin-left: 1rem; // Añade un margen si deseas separarlo un poco del borde inferior
  position:absolute;
  bottom: 2rem;
}


// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
