<mat-sidenav-container class="sidenav-container" color="primary">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
  <mat-nav-list class="nav-links">
    <!-- Wrapper div to take up available space -->
    <div class="nav-links-wrapper">
      <div mat-subheader>
        <h2><abbr title="Data Structures and Algorithms">DSA</abbr></h2>
      </div>
      <a mat-list-item routerLink="/dsa/intro"> Introduction </a>
      <div *ngFor="let algoName of algoNamesDSA">
        <a mat-list-item routerLink="/dsa/{{algoName}}"> {{ algoName.replace('-', ' ') | titlecase }} </a>
      </div>
    </div>

    <div class="nav-links-wrapper">
      <div mat-subheader>
        <h2><abbr title="Data Structures and Algorithms">Constraint</abbr></h2>
      </div>
      <div *ngFor="let algoName of algoNamesConstraint">
        <a mat-list-item routerLink="/constraint/{{algoName}}"> {{ algoName.replace('-', ' ') | titlecase }} </a>
      </div>
      <!-- <a mat-list-item routerLink="constraint/simple-constraint"> Simple Constraint </a> -->
    </div>

  </mat-nav-list>
</mat-sidenav>
<mat-sidenav position="end">End</mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


