@use "@angular/material" as mat;
@use "./assets/_palette.scss" as palettes;

@include mat.core();

// Python Light Theme
$python-primary: mat.define-palette(palettes.$sage-palette, 200);
$python-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$python-warn: mat.define-palette(mat.$red-palette);

$python-theme: mat.define-light-theme(
  (
    color: (
      primary: $python-primary,
      accent: $python-accent,
      warn: $python-warn,
    ),
    density: 0,
  )
);

// Python Dark Theme
$python-dark-primary: mat.define-palette(palettes.$sage-palette, 900);
$python-dark-accent: mat.define-palette(mat.$green-palette, A700, A400, A200);
$python-dark-warn: mat.define-palette(mat.$red-palette);

$python-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $python-dark-primary,
      accent: $python-dark-accent,
      warn: $python-dark-warn,
    ),
    density: 0,
  )
);

// C Light Theme
$cpp-primary: mat.define-palette(palettes.$azure-palette, 100);
$cpp-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$cpp-warn: mat.define-palette(mat.$red-palette);

$cpp-theme: mat.define-light-theme(
  (
    color: (
      primary: $cpp-primary,
      accent: $cpp-accent,
      warn: $cpp-warn,
    ),
  )
);

// C Dark Theme
$cpp-dark-primary: mat.define-palette(palettes.$azure-palette, 900);
$cpp-dark-accent: mat.define-palette(mat.$blue-palette, A700, A400, A200);
$cpp-dark-warn: mat.define-palette(mat.$red-palette);

$cpp-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cpp-dark-primary,
      accent: $cpp-dark-accent,
      warn: $cpp-dark-warn,
    ),
  )
);

// JavaScript Light Theme
$js-primary: mat.define-palette(palettes.$gold-palette, 200);
$js-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);
$js-warn: mat.define-palette(mat.$red-palette);

$js-theme: mat.define-light-theme(
  (
    color: (
      primary: $js-primary,
      accent: $js-accent,
      warn: $js-warn,
    ),
  )
);

// JavaScript Dark Theme
$js-dark-primary: mat.define-palette(palettes.$gold-palette, 900);
$js-dark-accent: mat.define-palette(mat.$deep-orange-palette, A700, A400, A200);
$js-dark-warn: mat.define-palette(mat.$red-palette);

$js-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $js-dark-primary,
      accent: $js-dark-accent,
      warn: $js-dark-warn,
    ),
  )
);

// Apply the themes to body classes
body.python-theme {
  @include mat.all-component-colors($python-theme);

  .steps {
    background-color: mat.get-color-from-palette($python-primary, 200);
  }
  .line-highlight {
    background-color: rgba(
      mat.get-color-from-palette($python-primary, 900),
      0.1
    );

    &::before {
      background-color: mat.get-color-from-palette($python-primary, 200);
      color: palettes.$sage-darker-text;
      border : 2px solid palettes.$sage-darker-text;
    }
  }

    
}


body.cpp-theme {
  @include mat.all-component-colors($cpp-theme);
  .steps {
    background-color: mat.get-color-from-palette($cpp-primary, 200);
  }
  .line-highlight {
    background-color: rgba(mat.get-color-from-palette($cpp-primary, 900), 0.1);

    &::before {
      background-color: mat.get-color-from-palette($cpp-primary, 200);
      color: palettes.$azure-darker-text;
      border : 2px solid palettes.$azure-darker-text;

    }
  }

}

body.js-theme {
  @include mat.all-component-colors($js-theme);
  .steps {
    background-color: mat.get-color-from-palette($js-primary, 200);
  }
  .line-highlight {
    background-color: rgba(mat.get-color-from-palette($js-primary, 900), 0.1);

    &::before {
      background-color: mat.get-color-from-palette($js-primary, 200);
      color: palettes.$gold-darker-text;
      border : 2px solid palettes.$gold-darker-text;

    }
  }
}

body.python-dark-theme {
  @include mat.all-component-colors($python-dark-theme);

  .steps {
    background-color: mat.get-color-from-palette($python-primary, 900);
  }



  .mat-icon {
    color: mat.get-color-from-palette(
      $python-primary,
      200
    ); // Especifica el tono
  }

  .line-highlight {
    background-color: rgba(
      mat.get-color-from-palette($python-primary, 200),
      0.2
    );

    &::before {
      background-color: mat.get-color-from-palette($python-primary, 900);
      color: palettes.$sage-light-text;
      border : 2px solid palettes.$sage-light-text;

    }
  }
}

body.cpp-dark-theme {
  @include mat.all-component-colors($cpp-dark-theme);
  .mat-icon {
    color: mat.get-color-from-palette($cpp-primary, 200);
  }

  .steps {
    background-color: mat.get-color-from-palette($cpp-primary, 900);
  }


  .line-highlight {
    background-color: rgba(mat.get-color-from-palette($cpp-primary, 200), 0.2);

    &::before {
      background-color: mat.get-color-from-palette($cpp-primary, 900);
      color: palettes.$azure-light-text;
      border : 2px solid palettes.$azure-light-text;

    }
  }
}

body.js-dark-theme {
  @include mat.all-component-colors($js-dark-theme);

  
  .steps {
    background-color: mat.get-color-from-palette($js-primary, 900);
  }

  .mat-icon {
    color: mat.get-color-from-palette($js-primary, 200);
  }
  .line-highlight {
    background-color: rgba(mat.get-color-from-palette($js-primary, 200), 0.2);

    &::before {
      background-color: mat.get-color-from-palette($js-primary, 900);
      color: palettes.$gold-light-text;
      border : 2px solid palettes.$gold-light-text;

    }
  }
}

// General styles
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // .prism-theme{
  //   overflow : none;
  // }
  .line-highlight::before {
    top: 0.1em;
    font: bold 100% sans-serif;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    .line-highlight::before {
      top: 0em;
    }

    .mat-toolbar{

      gap: 1rem; // Space between the two divs
      padding: 1rem;
    }
  }
}
