<div class="container">
    <div class="left-aligned">
        <h3>Distance Constraint Visualization</h3>
        <p>
            This example demonstrates a<strong> simple constraint </strong>where the "ball" cannot move beyond a certain
            distance from the mouse pointer.
        </p>

        <div class="flex-container" (mousemove)="onMouseMove($event)">
            <div class="chart-content">
                <canvas class="canvas" id="simpleConstraintCanvas1" ></canvas>

            </div>

            <div class="chart-content">
                <canvas class="canvas" id="simpleConstraintCanvas2" ></canvas>

            </div>


            <div class="code-block-container">
                <app-code-block [algorithmName]="'simple-constraint'"></app-code-block>
            </div>

            
        </div>


    </div>
</div>